<% for column in Path.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @path.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @path %> |
<%= link_to 'Back', :action => 'list' %>
