<h2>Welcome</h2>
<p>Hi and welcome to the Shoplet Online Store</p>
<p>This store is built with JRuby on Rails and is the first project application for the book Practical JRuby on Rails.</p>
<p>Here you can look at various products and order them at very fine prices.</p>
